<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="app">
          <br><br><br><br><br>
            <h1>Viking pushApp</h1>
            <br>
            <div id="deviceready" class="blink">
                <p class="event listening">Connecting to PUSH</p>
                <p class="event received">Ready</p>
            </div>
        </div>
        <script type="text/javascript" src="cordova.js"></script>

        <script type="text/javascript" src="js/PushwooshAndroid.js"></script>
        <script type="text/javascript" src="js/PushwooshiOS.js"></script>
        <script type="text/javascript" src="js/PushwooshWP.js"></script>
        <script type="text/javascript" src="js/index.js"></script>

        <script type="text/javascript">
            app.initialize();
        </script>
  </ion-content>
</ion-modal-view>
