<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content class="background2" scroll="true">
     <div data-ng-controller="ExampleController">
            <div class="card-red">
              <div class="item card-red item-text-wrap">
              <h1>Login or SignUp</h1>
              <H2>You only have to sign up the first time</H2>
              <p>If logged in your name will show up under the logout button</p>
              <h3></h3>

            <div><button-clear id="logout">Log out before leaving</button></div>

            <div id="current-user"></div><br />

            <form id="login">
              <label class="item item-input item-light">
                <span class="input-label">UserName</span>
                <input id="login-name" type="text">
              </label><br>
              <label class="item item-input item-calm">
                <span class="input-label">Password</span>
                <input id="login-password" type="password">
              </label><br>
              <button class="button button-dark">
              <input id="login-submit" type="submit">
              </button>
            </form>
            <br />

            <div id="current-user"></div>
          <form id="signup">
            <label class="item item-input item-balanced">
              <span class="input-label">Choose User Name</span>
              <input id="signup-name" type="text">
            </label><br>
            <label class="item item-input item-balanced">
              <span class="input-label">Choose Password</span>
              <input id="signup-password" type="password">
            </label><br>
            <button class="button button-balanced">
              <input id="signup-submit" type="submit">
            </button>
          </form>
          
          </div>
          </div>
     </div>
  </ion-content>
</ion-modal-view>
