<ion-view view-title="Viking PushApp">
  <ion-content class="background" scroll="true">
    <ion-list>
    </br>
      <div class="card-red">
        <div class="item card-red item-text-wrap">
          <img src="fullogo.png" height='100%' width='80%'>
        </div>
      </div>
    </br>

<div class="list card-dark">

  <div class="item item-avatar">
    <img src="logo.jpg">
    <h2>Crop Protection Experts</h2>
    <p>For over 20 years</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="about.jpg">
    <p>
      For over 20 years, we at Viking have been committed to supporting South African
      growers with the highest quality crop protection and weed control products so
      that the maximum outputs can be achieved.</p>

      <p>We are committed to "Good Agricultural Practices" and environmental control technology.</p>

      <p>It is Viking's agents and employees, working together, who deliver and build
        the real value of the business to ensure that we will always be partners of
        the South African growers.</P
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>
    </ion-list>
  </ion-content>
</ion-view>
