<ion-view view-title="myApplication">
  <ion-content class="background" scroll="false">
    <ion-list>
      <ion-item>
        <h3><center> Hello image world</center></h3>
      </ion-item>
      <br>
      <ion-item>
        <h3> Hello text world</h3>
      </ion-item>
      <input type="text" ng-model="value">
      {{value}}
      <!--<ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item> -->
    </ion-list>
  </ion-content>
</ion-view>
